*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 4rem 17rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
}
